@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #333;
    font-family: 'poppins', sans-serif, 'Arial';
}

form{
    width: 750px;
    padding: 20px;
    background: #FFFFFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form .name{
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form p{
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.1em;
}

form .name .first{
    width: 100%;
}

form .name .second{
    width: 100%;
}

form .name .first input{
    width: 90%;
}

form .name .second input{
    width: 100%;
}

input{
    width: 45%;
    font-size: 1em;
    padding: 10px;
    border: 1px solid rgb(204, 203, 203);
    font-family: 'poppins';
}

select, option{
    width: 100%;
    font-size: 1em;
    padding: 10px;
    border: 1px solid rgb(204, 203, 203);
    font-family: 'poppins';
}

.email{
    width: 100%;
    margin-top: 2rem;
}

.email input{
    width: 100%;
}

.mercie{
    display: none;
    color: white;
    text-align: center;
}

.fin{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.return{
    padding: 15px;
    width: 250px;
    color: white;
    border: none;
    cursor: pointer;
    background: #181818;
    margin-top: 2em;
}

.submit{
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border: none;
    background: rgb(151, 241, 16);
    color: rgb(0, 0, 0);
    font-family: 'poppins', sans-serif;
    font-size: 1.2em;
    margin-top: 3em;
}


@media screen and (max-width: 800px) {
    form{
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    form{
        top: 50%;
    }
    
    form .name{
        flex-direction: column;
    }

    form .name .first input{
        width: 100%;
    }

    form .name .first{
        margin-bottom: 1.2rem;
    }
}